# Dependencies
node_modules
client/node_modules
server/node_modules

# Build & Output
dist
client/dist

# Environment variables
.env
.env.local
.env.*.local

# Database & Uploads
*.sqlite
*.db
server/*.db
server/*.sqlite
server/uploads/*
!server/uploads/.gitkeep

# Logs & System
*.log
npm-debug.log*
.DS_Store
